<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace可以理解成虚拟文件夹-->
<mapper namespace="org.lanqiao.dao.IUserDao">
    <!--resultType：返回值类型-->
    <!--parameterType:传入参数的类型-->
    <!--查询所有用户-->
    <select id="getAllUser" resultType="org.lanqiao.bean.User">
        select * from user
    </select>

    <!--根据id查询单个用户-->
    <select id="getUserById" resultType="org.lanqiao.bean.User" parameterType="int">
        select * from user where id=#{id}
    </select>

    <!--name和pass是表里的字段名   #{name} #{pass}是对象里的字段名-->
    <!--插入一个用户-->
    <insert id="addUser" parameterType="org.lanqiao.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name,pass) values(#{name},#{pass})
    </insert>

    <!--根据id删除用户-->
    <delete id="delUserById" parameterType="int">
        delete from user where id=#{id}
    </delete>

    <!--根据id更新用户-->
    <update id="updateUserById" parameterType="org.lanqiao.bean.User">
        update user set name=#{name},pass=#{pass} where id=#{id}
    </update>
    <select id="getUserByCondition" resultType="org.lanqiao.bean.User" parameterType="org.lanqiao.bean.User"  >
        SELECT  * from USER
        WHERE 1=1
        <if test="name!=null &amp;&amp; !&quot;&quot;.equals(name) " >
            and name like #{name}
        </if>
        <if test="id!=null &amp;&amp; id>0" >
            and id=#{id}
        </if>
        <if test="password!=null &amp;&amp; !&quot;&quot;.equals(password)" >
            and password=#{password}
        </if>
    </select>
    <update id="updateUserCondition" parameterType="org.lanqiao.bean.User">
        update USER
        <set>
        <if test="name!=null &amp;&amp; !&quot;&quot;.equals(name)" >
            name=#{name},
        </if>
        <if test="password!=null &amp;&amp; !&quot;&quot;.equals(password)" >
            password=#{password}
        </if>
        </set>
        WHERE id=#{id}
    </update>
    <select id="getUserIn" resultType="org.lanqiao.bean.User">
        select * from user where id in
        <foreach collection="list" index="index" item="item"
                 open = "(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>